* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
img {
  width: 400px;
}
.container {
  width: 100%;
  height: 100vh;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.container-image {

}
h1 {
  margin-bottom: 20px;
}
.container-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  width: 600px;
  border: 1px solid #848484;
  border-radius: 5px;
  height: 500px;
  text-align: center;

}
input {
  width: 80%;
  padding: 10px;
  font-size: 19px;
  margin-bottom: 25px;
  color: #848484;


}

label {
  font-size: 20px;
  margin: 7px 0;
  color: #848484;
  /* text-align: left; */
  
}
.h1class {
  text-align: center;
  font-size: 50px;
  /* border: 1px solid black; */
  margin: 10px;
  margin-bottom: -50px;
  margin-top: 20px;
  
}


@media screen and (max-width:600px) {

  .container {
    display: flex;
    flex-direction: column;
  }
  .h1class {
    font-size: 30px;
  }
  img {
    width: 200px;
    height: 200px;
    margin-top:80px ;
    margin-bottom: 30px;
  }
  .container-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    width: 400px;
    border: 1px solid #848484;
    border-radius: 5px;
    height: 500px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    font-size: 19px;
    margin-bottom: 25px;
    color: #848484;
  
  
  }

}